[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px
}

.checkbox:checked+label,
.checkbox:not(:checked)+label {
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 13px;
    border-radius: 2px;
    padding: 0;
    margin: 21px auto;
    cursor: pointer;
    background-color: #ffffff
}

.checkbox:checked+label:before,
.checkbox:not(:checked)+label:before {
    position: absolute;
    display: block;
    width: 33px;
    height: 33px;
    border-radius: 10%;
    color: #EA2C62;
    background-color: #272fa4;
    /* background-color: rgb(29 78 216); */
    content:'';
    z-index: 20;
    font-size: 12px;
    top: -10px;
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease
}

.checkbox:checked+label:before {
    transform: translateX(44px) rotate(-270deg)
}