.card{
    width: 17rem;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardProductImage{
    height: 50%;
    /* padding: 5px ; */
    border-radius: 15px;
}

.cardPoductName{
    text-align: center;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cardProductDescription{
    text-align: justify;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}